html{
  background-color: black;
}

h1{
  color: white;
  font-family: helvetica;
  font-size: 50px;
}

li{
  position: relative;
  float: left;
  height: 25px;
  width: 25px;
}

ul{
  margin: 0px;
  list-style: none;
  padding: 0px;
}
ul:after {
  content: "";
  clear: both;
  display: block;
}

div#snake-game{
  width: 500px;
  border: 15px solid turquoise;
  border-radius: 5px;
  background-color: black;
  position: relative;
  float: left;
}

.opening{
  position: fixed;
  margin-top: 100px;
  z-index: 2;
  color: white;
  font-family: helvetica;
  font-size: 20px;
  margin-left: 70px;
}

.start-button{
  position: fixed;
  margin-top: 150px;
  margin-left: 215px;
  z-index: 2;
  color: white;
}

.gameover{
  position: fixed;
  margin-left: 220px;
  margin-top: 100px;
  z-index: 2;
  color: white;
}

.gameover-text{
  color: white;
  font-size: 20px;
  font-family: helvetica;
  margin-bottom: 10px;
}

.wrapper{
  min-width: 800px;
  max-width: 800px;
  height: 500px;
  width: 20%;
  margin: 0 auto;
}

.extras{
  color: white;
  font-size: 40px;
  position: relative;
  float: left;
  border: 15px solid turquoise;
  border-radius: 5px;
  background-color: black;
  height: 500px;
  width: 200px;
}

.instructions{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: helvetica;
  margin-left: 5px;
  margin-right: 5px;
}

.speed{
  width: 120px;
}

.difficulty{
  font-family: helvetica;
  font-size: 28px;
}

button.active{
  color: black;
  background-color: white;
}

button{
  font-size: 18px;
  padding: 5px 14px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

h5{
  margin-top: 20px;
  font-family: serif;
  margin-bottom: 10px;
  font-family: helvetica;
}

.points{
  font-family: helvetica;
  font-size: 30px;
  margin-top: 40px;
}

.score{
  font-family: helvetica;
  height: 60px;
  margin-bottom: 30px;
}

.highscore{
  font-family: helvetica;
  font-size: 26px;
}

.high-score{
  font-family: helvetica;
  margin-top: 20px;
  font-size: 26px;
}

.snake {
  color: green;
  background: orange;
}

.apple{
  background-color: red;
  border-radius: 20px;
}

.snake.head.N {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  /*background-color: red;*/
}

.snake.head.S {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  /*background-color: red;*/

}

.snake.head.E {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  /*background-color: red;*/

}

.snake.head.W {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  /*background-color: red;*/

}


.snake.N {
  background-color: purple;
}

.snake.S {
  background-color: blue;
}

.snake.E {
  background-color: green;
}

.snake.W {
  background-color: teal;
}
.hidden{
  display: none;
}
